# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# environment variables
/stock-tracker-backend/.env
/stock-tracker-backend/myenv
/stock-tracker-backend/.gcloudignore

# dependencies
/stock-tracker-frontend/node_modules
/stock-tracker-frontend/.pnp
/stock-tracker-frontend/.pnp.js

# testing
/stock-tracker-frontend/coverage

# production
/stock-tracker-frontend/build

# misc
/stock-tracker-frontend/.DS_Store
/stock-tracker-frontend/.env.local
/stock-tracker-frontend/.env.development.local
/stock-tracker-frontend/.env.test.local
/stock-tracker-frontend/.env.production.local

/stock-tracker-frontend/npm-debug.log*
/stock-tracker-frontend/yarn-debug.log*
/stock-tracker-frontend/yarn-error.log*
